#content-container {
    position: relative;
    overflow: hidden;
    height: 200px; /* Adjust the height as needed */
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff; /* Adjust background color */
    color: #333; /* Adjust text color */
}

/* Initial position for each content */
#web-dev-content {
    background-color: #aaaaaa;
    transform: translateX(0);
}

#web-app-content {
    background-color: #bbbbbb;
    transform: translateX(100%);
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #0044ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

#content {
    max-width: 100%;
    height: auto; 
    overflow-y: auto; 
    margin: 0;
    padding: 20px;
    background-color: #aaa;
    transition: opacity 0.5s;
}

section {
    margin: 20px 0;
}

.project {
    margin: 20px 0;
}

#content {
    opacity: 1;
}

#content[style] {
    opacity: 0;
} */