header {
  background-image: url('banner-church.jpg');
  background-size: cover;
  background-attachment: fixed; /* Fixed background image */
  height: 50vh; /* Initial header height (50% of viewport height) */
  max-height: 100vh; /* Limit the header's height to the viewport height */
  position: relative;
  overflow: hidden;
  background-position: center center;
}

.static-image {
  background-color: rgba(0, 0, 0, 0.5); /* Add a background color for the static area */
  height: 100%; /* Full height of the header */
  width: 50%; /* Initial width of the static area (50% of the header) */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; /* Ensure the static area is above the background image */
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); 
  padding: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.name {
  font-size: 24px; 
  font-weight: bold;
}

.profession {
  font-size: 18px;
}
