body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.navbar {
    background-color: #C63D2F;
    color: #fff;
    min-height: 50px;
    width: 100%;
    z-index: 1;
    margin-top:57px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #FF9900;
}

.navbar-logo a {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#content {
    max-width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 50px;
}

/* Initial style for fading effect */
#content {
    opacity: 1;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add a shadow effect when sticky */
    background-color: #0075FF; /* Change the background color when sticky */
}
