.project {
    width: 90%; /* One project per row */
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden; /* Add this property */
}

.project img {
    max-width: 100%;
    height: auto;
}

.more-info {
    display: none;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

/* Additional styling for hover effects, animations, and transitions */
.project:hover {
    background-color: #eee;
    transition: background-color 1.3s;
}

.project .see-more:hover, .project .live-website:hover {
    background-color: #b49292;
    transition: background-color 0.3s;
}

#more-web-app-projects {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
