.banner {
    background: #173F4F;
    height: auto; 
    text-align: center; 
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; 
    display: flex;
    padding-top: 100px;
}

.banner-content{
    width: 90%;
    /* border: 2px dashed rgb(25, 0, 255); */
}

#banner-row1 {
    /* border: 2px dashed rgb(225, 0, 255); */
    width: 90%; 
    height: 150px;
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center; 
}

#banner-greet {
    /* border: 2px dashed rgb(202, 162, 162); */

    text-align: center;
    font-size: 40px;
    color: #35b9ab
}

#banner-greet span{
    font-size: 60px;
    color: #fff
}

#banner-row2 {
    /* border: 2px dashed red; */
    margin: auto;
    display: flex;
    justify-content: center; 
    width: 90%; 
    height: 600px;
}

.banner-column {
    /* border: 2px dashed green; */
    width: 50%; 
    margin: 10px;
    display: flex;
    text-align: center; 
    align-items: center; 
    flex-direction: column;
    justify-content: center; 
    position: relative;
    overflow: hidden;
}

.banner-column#bcC {
    width: 5px;
}

.banner-col-cont{
    /* border: 2px dashed blue; */
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: colu;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
}

.banner-col-cont.left {
    left: -1000px;
}

.banner-col-cont.right {
    right: -1000px;
}

.banner-img {
    /* border: 2px dashed red; */
    background-color: #35b9ab;
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.banner-img #biL {
    width: 100%;
}

.banner-img #biR {
    width: 100%;
    transform: scaleX(-1);
}

.banner-text {
    /* border: 2px dashed rgb(189, 202, 195); */
    width: 90%;
    height: 40px;
    position: relative;
}

.line {
    border-left: 5px solid #35b9ab;
    height: 250px;
}

/* .column img {
    width: 600px;
    height: 600px;
}

.column #check {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.column ul {
    width: 90%;
    height: 70%;
    list-style-type: none;
    padding: 0;
    font-size: 40px;
}

.column ul li {
    margin: 30px;
}

.column ul li span {
    color: #fff;
} */
/* .row:after {
    content: "";
    display: table;
    clear: both;
}

.about-me {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background: #4BB679;
    text-align: left;
    justify-content: right;
    display: flex;
    align-items: center;
    box-shadow: 0px -10px 6px 3px #133441b7 ;
}

.about-content {
    width: 50%;
    font-size: 17px;
    color: #173F4F;
}

.about-content img {
    float: left;
    width: 200px;
    height: auto;
    margin-right: 20px;
    display: inline-block;
}


.text-content {
    display: inline-block;
    vertical-align: top;
}

.text-content strong{
    color: #fff;
} */


