.banner {
    background: #173F4F;
    text-align: center; /* Center the content horizontally and vertically */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the top of the banner */
    align-items: center;
    padding-top: 100px; /* Add padding to separate the content from the navbar */
    height: 600px; /* Set the height to 70% of the viewport height */
}

.row1 {
    display: flex;
    justify-content: center; /* Center the columns horizontally */
    align-items: center;
    width: 100%; /* Make the row 100% wide */
    height: 15%;
}

.row2 {
    display: flex;
    justify-content: center; /* Center the columns horizontally */
    width: 100%; /* Make the row 100% wide */
    height: 100%;
}

.column {
    color: #35b9ab;
    width: 50%; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: 10px; 
    height: calc(100% - 40px); 
}

.column#right {
    text-align: left;
}

.column img {
    width: 600px;
    height: 600px;
}

.column #check {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.column ul {
    width: 90%;
    height: 70%;
    list-style-type: none;
    padding: 0;
    font-size: 40px;
}

.column ul li {
    margin: 30px;
}

.column ul li span {
    color: #fff;
}

#banner-greet {
    text-align: center;
    font-size: 40px;
    color: #35b9ab
}

#banner-greet span{
    font-size: 60px;
    color: #fff
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.about-me {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background: #4BB679;
    text-align: left;
    justify-content: right;
    display: flex;
    align-items: center;
    box-shadow: 0px -10px 6px 3px #133441b7 ;
}

.about-content {
    width: 50%;
    font-size: 17px;
    color: #173F4F;
}

.about-content img {
    float: left;
    width: 200px;
    height: auto;
    margin-right: 20px;
    display: inline-block;
}


.text-content {
    display: inline-block;
    vertical-align: top;
}

.text-content strong{
    color: #fff;
}


