.education {
    text-align: center; 
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; 
    display: flex;
}

.education-content {
    /* background: #4BB679; */
    /* border: 2px dashed red; */
    margin: auto;
    display: flex;
    justify-content: center; 
    width: 80%; 
    height: 180px;
}

.edu-col {
    /* border: 2px dashed rgb(199, 218, 31); */
    background-color: #4BB679;
    width: 50%; 
    display: flex;
    text-align: center; 
    align-items: center; 
    flex-direction: column;
    justify-content: center; 
    position: relative;
    margin-top: 300px;
    opacity: 0;
    overflow: hidden;
}

.queens {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20%;
    /* border: 2px dashed rgb(31, 31, 30); */
}

.queens img {
    width: 225px;
}

.lighthouse {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    /* border: 2px dashed rgb(31, 31, 30); */
}

.lighthouse img {
    width: 225px;
}

.edu-text {
    /* border: 2px dashed rgb(31, 31, 30); */
    width: 50%;
}

.edu-text h1 {
    font-size: 30px;
    color: #000000;
}
.edu-text h2 {
    font-size: 24px;
    color: #173F4F;
}

.rhombus {
    box-shadow: 5px 5px 5px 0px #398b5d;
    background-color: #35b9ab;
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-left: 1px;
    transform: rotate(45deg);
    border-radius: 50%;
    display: flex;
    opacity: 0;
    overflow: hidden;
}

.rhombus img {
    margin-top: 40%;
    margin: auto;
    transform: rotate(-45deg);
    border-radius: 50%;
    width: 275px;
    height: 275px;
}