body {
    font-family: 'Source Sans Pro',sans-serif;
    margin: 0 0;
    padding: 0 0;
    background-color: #173F4F;
}



/* #content-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff; 
    color: #333; 
}

.contact {
    width: 100%;
    background: #173F4F;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -10px 6px 3px #133441b7 ;
}

.contact-content {
    width: 60%;
    font-size: 24px;
    color: #35b9ab;
}

.contact-content h2{
    color: #fff;
}

.contact-content span {
    color: #fff;
}



.portfolio {
    background-color: #aaa;
}

.portfolio #port-content{
    color: #000;
} */