.navbar {
    background: #173F4F;
    color: #fff;
    width: 100%;
    top: 0;
    padding: 15px 15px 15px 15px; 
    margin-left: -7px;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 1;
    transition: all 0.3s;
}

.navbar > *:last-child {
    margin-right: 40px; 
}

.navbar-logo {
    
}

.navbar-logo img {
    width: 50px;
    height: 50px;
}

#navbar-name {
    flex: 1;
    font-size: 30px;
    margin-left: 30px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin: 0 10px;
    position: relative;
}

.navbar-menu a {
    color: #35b9ab;
    text-decoration: none;
    position: relative;
}

.navbar-menu a::after {
    color: #fff;
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: #fff; 
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease;
}

.navbar-menu a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}